# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
*.egg-info/

# Model checkpoints & outputs
checkpoints/
*.pt
*.bin
*.safetensors

# Data files (if you don't want them versioned)
hp.obo
phenotype.hpoa
